.search-container {
  position: absolute;
  width: 300px;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.search-item {
  padding: 8px 12px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #f2f2f2;
}

.wrapper {
  display:flex;
  gap: 25px;
}

.file-list {
  padding-top: 75px;
}

.file-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr; /* controls column widths */
  column-gap: 20px;
  align-items: center;
  padding: 12px 16px;
}

.files-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  align-items: center;
  padding: 12px 16px;
  font-weight: bold;
}

.hr-header{
  height: 1px;
  width: 100%;
  background-color: rgb(28, 139, 158);
  box-shadow: 3px 1px 3px rgb(28, 139, 158);
  border: none;
}

.hr-list{
  height: 1px;
  width: 98%;
  background-color: rgba(28, 139, 158, 0.082);
  box-shadow: 3px 1px 3px rgb(28, 139, 158);
  border: none;
}