.NavBar {
    background-color:wheat;
    border-radius: 25px;
    width: 250px;
    height: 100vh;
    margin-left: 10px;
    float: left;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.links {
    padding: 12px;
    display:block;
    text-decoration: none;
    color: black;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

.links:hover {
    background-color: #464646;
    border-radius: 5px;
    color: whitesmoke;
}

.hr {
    height: 1px;
    width: 90%;
    background-color: rgb(28, 139, 158);
    box-shadow: 3px 1px 3px rgb(28, 139, 158);
    border: none;
}

.logout {
    margin-top: auto;
    display:block;
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
    font-size: x-large;
    background-color: #d9534f;
    border-radius: 10px;
    padding: 7px;
}

.logout:hover {
    background-color: #464646;
    border-radius: 5px;
    color: whitesmoke;
}
